@charset "utf-8";
*{
    padding:0;
    margin:0;
}

body{
     background-image: url(img/02.png);
     font-size: 15px;
     font-weight: bold;
     line-height: 1.8;
     font-family: 'Ubuntu', 'Noto Serif JP';
     background-size: cover;
     color: #28394D;

}

#logo{
    background-color:white
}
#logo h1{
    max-width:1040px;
    margin: 0 auto;
}
#top-img{
    background-image: url(001.jpg);
    background-size: cover;
    text-align:center;
    height: 300px;
}
#top-img img{
  max-width:1040%;
 }
#top-img h1{
    text-align:left;
    max-width:1040px;
    margin:0 auto;
    padding-left: 20px;
    font-size: 45px;
    letter-spacing:2.7px;
    font-family: serif;
    line-height: 75px;
}
#list-top{
     border-top:solid 1px #dcdcdc;
     
}
#list-top li{
   
}
a {
    text-decoration: none;
    display:block;
    font-weight:bold;
    cursor: pointer;
    padding:10px 0;
    color: #28394D;
}

ul {
    list-style: none;
    overflow: hidden;
    }
li{
    box-sizing: border-box;
    text-align: center;
    float: left;
    width: 50%;
 
    border-bottom: solid 1px #dcdcdc;
}

li:nth-child(2n+1) {
    border-right: 1px solid #dcdcdc;
}
#profile{
    /* margin: 20px 30px 60px; */
    clear:left;
    }
h2{
    text-align:center;
    margin-bottom:10px;
    font-size: 40px;
    font-weight: normal;
}
h3{
    font-size:20px;
}
#profile-in section{
    margin-left:20px;
    margin-bottom: 30px;
}

#skill{
    margin: 0 30px 60px;
}

#skill-in{
    font-size:19px;

}

#skill-in section{
    margin: 0 20px;
    text-align: center;
    margin-bottom: 30px;
}
#oiriginal{
    max-width: 1040px;
    margin:0 auto;
}

#oiriginal-in section{
    margin:0 20px;
    margin-bottom:30px;
}

.photo{
        text-align:center;
}

.photo img{
    width: 286px;
    height: 200px;
}
#oiriginal-in p{
    padding-top: 5px;
}
.original-text{
    text-align: justify;
}

#list-foot{
    border-top: solid 1px #dcdcdc;
}
footer{
    margin-top: 100px;
}
footer p{
    margin: 30px 0px;
    text-align: center;
}
